/* @override http://localhost:4000/stylesheets/screen.css */

body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  background: #f3f2e8;
  color: #333;
  padding: 1em 0 2em;
}

body a{
  color: #ac3d00;
}

body > header h1{
	font-size: 42px;
	font-weight: 200;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
}

div.site-width{
  max-width: 90%;
  max-width: 48em;
  margin: 0 auto;
}

h1.imperative{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 1em;
}

article.lens{
	background: #fffefb;
	padding: 32px;
	margin-bottom: 1em;
  	border-radius: 0.5em;
  	position: relative;
  	border-bottom: 1px solid #e6e0cc;
  	box-shadow: 1px 2px 6px rgba(53,42,0,0.1)
}

article.lens > h1{
	font-size: 24px;
	margin-bottom: 0.67em;
	font-weight: 600;
	color: #2d3a44;
  font-family: 'IBM Plex Serif', sans-serif;
  padding-right: 200px;
}

.lens svg{
  width: 96px;
  position: absolute;
  right: 40px;
  top: 40px;
}

article.lens > p,
article.lens li{
	line-height: 1.33em;
	max-width: 40em;
	margin-bottom: 0.67em;
}

article.lens li{
  list-style-type: square;
  margin-left: 1.12em;
  color: #4f4f4f;
}

article.lens > p{
  font-size: 18px;
  line-height: 1.45em;
  font-family: 'IBM Plex Serif', sans-serif;
  padding-right: 112px;
  font-weight: 300;
  color: #333;
}

article.lens section h1{
	font-weight: 600;
  	color: #166e3b;
  	font-size: 18px;
  	line-height: 1.1em;
  	padding-top: 1em;
  	margin-bottom: 1em;
}